<div class="container">
  <h1>Deck Builder and Game Setup</h1>
  <form>
    <div class="form-group">
      <div class="label">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="deckName" [value]="name" (blur)="setDeckName($event)" required>
      </div>
      <div class="deckList">
        <label for="list">Decklist</label>
        <textarea class="form-control" id="list" required></textarea>
        <button class="form-submit" id="deck-submission-button" (click)="submit($)">Submit Deck</button>
        <p>Name of deck: {{this.name}}</p>
      </div>
    </div>
  </form>

  <div class="deck-stats">
    <p>creatures in deck: {{stats.numCreatures}}</p>
    <p>lands in deck: {{stats.numLands}}</p>
    <p>noncreature spells in deck: {{stats.numNonCreatureSpells}}</p>
  </div>
</div>